node_modules/
asana-automation-6fa38-firebase-adminsdk-a1lfm-0067f1ffb4.json
asanaautomation-2de31-firebase-adminsdk-aelma-7cc0dc2f59.json
asanaautomation-c1284-firebase-adminsdk-1uhwe-6b313d3cd0.json
.DS_Store
package-lock.json
.env