.search-container{
    padding-left: 250px;
}
.search-result{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.keyword-h3{
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2px solid #F0F1F6;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
        