.login-button {
    height: 90px;
    width: 450px;
    background-color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color:gray
}

.login-icon{
    position: absolute;
    left: 12%;
}
