
.modal-author {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 500px;
    max-height: 675px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.author-data{
    display: flex;
    flex-direction: row;
    color: #64677B;
    padding-bottom: 20px;
    align-items: center;
}
.author-head {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.author-dvalue{
    width: 140px;
}
.btn-align{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-athr{
    margin-bottom: 10px;
}
.author-input {
    font-size: 16px;
    width: 200px;
}   
.author-cont{
    padding-left: 50px;
}